#### QUESTION 1: Create a list of 2 strings, 5 floats, 4 intergers and append all these data types into new list called Dtypes.

In [20]:
# Solution 1
x = ['Barcelona','Frankfurt']
y = [3,4,14,22]
z = [5.0,16.5,23.2,45.8,34.0]
#print(type(z[3]))

Dtypes = []
Dtypes.append(x[0])
Dtypes.append(y[0])
Dtypes.append(y[1])
Dtypes.append(x[1])
Dtypes.append(y[2])
Dtypes.append(y[3])
Dtypes.append(z[0])
Dtypes.append(z[1])
Dtypes.append(z[2])
Dtypes.append(z[3])
Dtypes.append(z[4])

print(Dtypes)

['Barcelona', 3, 4, 'Frankfurt', 14, 22, 5.0, 16.5, 23.2, 45.8, 34.0]

#### QUESTION 2: Create a list of numbers ranging from 5 with an interval of 2 and the pernultimate number should be 19

In [29]:
# Solution 2
num_list = [*range(5,20,2)]
print(num_list)

[5, 7, 9, 11, 13, 15, 17, 19]

#### QUESTION 3: For numbers in list above, Using the IF ELSE function, Print 'number + it is even' if divisible by 3' else print ' Not even'

In [36]:
# Solution 3
for num in num_list:
    if num % 3 == 0:
        print(str(num) +  ' it is even')
    else:
        print( 'Not even')

Not even
Not even
9 it is even
Not even
Not even
15 it is even
Not even
Not even

#### QUESTION 4: 
1. Create a variable ADA
2. Create a variable for the number 30
3. Print ADA is 30KM from Accra

In [37]:
# Solution 4
a = 'ADA' 
b = 30

print(a + ' is '  + str(b) + 'KM from Accra')

ADA is 30KM from Accra

#### Question 5: From the items below,create a list for each data type

In [52]:
Essentials = [False,24,'Books','Phone',10.5,'Gh_Cedi','Laptop',True,'Shelter','Food', 15,'Job','54m',20,7.5,23,40,9.0,32,48]

In [15]:
# Solution 5
# Process should be automated please
str_dtype = []
float_dtype = []
int_dtype = []
bool_dtype = []

for item in Essentials:
    if isinstance(item, str) == True:
        str_dtype.append(item)
    elif isinstance(item, float) == True:
        float_dtype.append(item)
    elif isinstance(item, bool) == True:
        bool_dtype.append(item)
    else:
        int_dtype.append(item)
        
print(str_dtype)
print(float_dtype)
print(int_dtype)
print(bool_dtype)

['Books', 'Phone', 'Gh_Cedi', 'Laptop', 'Shelter', 'Food', 'Job', '54m']
[10.5, 7.5, 9.0]
[24, 15, 20, 23, 40, 32, 48]
[False, True]

#### Question 6: 
1. Print out the index for Shelter
2. Print out the index for the number 20 
3. Print out the index for the number 1 
4. Delete the item in the 15th index

In [55]:

print(Essentials.index('Shelter'))
print(Essentials.index(20))
print(Essentials.index(1))

8
13
7

In [53]:
Essentials.pop(15)
print(Essentials)

[False, 24, 'Books', 'Phone', 10.5, 'Gh_Cedi', 'Laptop', True, 'Shelter', 'Food', 15, 'Job', '54m', 20, 7.5, 40, 9.0, 32, 48]